IPython
numpy>=2.3.0
rms-oops>=0.1.4
rms-filecache>=3.1.0
rms-pdslogger>=3.0.0
rms-julian>=3.0.1
rms-pdsparser>=2.0.0
rms-cloud-tasks>=0.2.0
json-stream>=2.3.3
rms-pdstable>=1.0.3
rms-vicar>=1.2.1
rms-pdstemplate>=2.4.0
fortranformat>=2.0.3

rms-textkernel>=1.1.1